<%= render "nav" %>

<%= render "footwear" %>

<%= render "crud_nav" %>

<section id="form-summary">

<%= render "form" %>
	
</section>

<footer class="page-footer">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="footer mute-grey">
				<p>© 2015 Innov8 Partners, LLC. All rights reserved. Some scary text to prevent unauthorized access or suffer the consequence. dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
			</div>
		</div>
	</div>
</footer>
