<nav class="admin-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= link_to image_tag('Innov8_Logo_negative_ADMIN.png'), root_path , :alt => 'Innov8 Admin Logo', class: "dashboard-logo" %>
			</div>
			<div class="col-sm-3">
				<ul class="nav nav-pills">
					<!-- <li><%= link_to 'Manage Users', new_participant_path %></li> -->
				</ul>
			</div>
			<div class="col-sm-5">
				<div class="nav-user-details pull-right">
					<% if user_signed_in? %>
					Logged in as, <span style="font-family: 'Open Sans', sans-serif; font-weight: bold;"><%= current_user.fname + " " + current_user.lname %></span>
					<span class="logout-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</nav>