<section id="login">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<%= image_tag 'Innov8_Logo.png', :alt => 'Innov8 Logo' %>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<input>Email</input>
				</div>
			</div>
			
		</div>
	</div>
</section>