html, body {
	background-color: #F2F2F2;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.7;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}
/*  Login Page START  */

#login {
	padding-top: 280px;
}

#new-password {
	padding-top: 230px;
}

.alert {
	color: #f55753;
}

.login-img {
	padding-top: 40px;
	padding-right: 40px;
	float: right;
}

.mute-grey {
	color: #8C7E77;
	opacity: 0.5;
}

#login a, #new-password a {
	font-size: 16px;
}

#login a:hover, #new-password a:hover {
	text-decoration: none;
}

label {
	display: block;
	font-size: 11px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

#login .btn, #new-password .btn, #participant-form .btn {
	/* button_box: */
	background: #FCAF3C;
	border-radius: 2px;
	border: none;
	/* SIGN IN: */
	font-family: Montserrat-Bold;
	font-size: 18px;
	text-transform: uppercase;
	padding: 14px 20px 16px 20px;
	color: #F5F5F5;
	letter-spacing: 0.7px;
	line-height: 21px;
	width: 100%;
	margin-bottom: 16px;
}

#login .btn:hover, #new-password .btn:hover, #participant-form .btn:hover {
	background: #EFA73C;
	color: #F5F5F5;
}

.footer {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: #8C7E77
}

/*  Login Page END  */

/*  New Password START  */

#new-password img {
	padding-bottom: 30px;
}

/*  New Password END  */

/*  Welcome Dashboard START  */
nav {
	height: 70px;
	background-color: #8C7E77;
	color: #F5F5F5
}

.dashboard-logo {
	padding-top: 10px;
	padding-left: 30px;
}

nav li {
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 18px;
	padding-top: 12px;
}

.nav-user-details {
	font-size: 19px;
	padding-top: 20px;
	padding-right: 30px;
}

.logout-link {
	padding-left: 30px;
}

.logout-link a {
	color: #F5F5F5;
	opacity: 0.8;
}

#dashboard {
	padding-top: 200px;
}

.panel, #profile-overview img {
	width: 90%;
}

.panel-coming-soon {
	background-color: #CDCDCD;
	opacity: 0.3
}

.panel-coming-soon {
	color: #222222;
}

figure {
	padding-top: 50px;
	padding-bottom: 50px;
}

figure h2 {
	margin-top: 30px;
}

figure figcaption {
	color: #4A4A4A;
} 

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/*  Welcome Dashboard END  */

/*  New Entry  */
.nav-page-header {
	height: 230px;
}

nav img {
	padding-top: 10px;
}

.active-page {
	border-bottom: 3px solid #FFB73F;
}

.nav-pills>li>a {
	color: #F5F5F5;
}

.nav-pills>li>a:hover {
color: #F5F5F5;
background-color: #626262; 
}

.nav-headline {
	font-size: 64px;
	color: #F2F2F2;
	text-transform: uppercase;
	padding-top: 60px;
}

#participant-form {
	padding-top: 60px;
}

#form-summary {
	padding-top: 15px;
}

#participant-form h3, #profile-overview h3, #form-summary h3 {
	color: #FFB73F;
	font-size: 18px;
	text-transform: uppercase;
}

.panel-form {
	width: 100%;
}

.form-wrapper {
	padding: 0 20px 15px 20px;
}

.page-footer {
	padding-top: 80px;
}

/*  New Entry END  */

/*  Profile Page  */
#profile-overview {
	padding-top: 70px;
}

#profile-overview img {
	padding-top: 15px;
}

#profile-overview h4 {
	margin-top: -10px;
	padding-bottom: 10px;
}

.button-shape a {
	/* button_box: */
	background: #FCAF3C;
	border-radius: 2px;
	/* EDIT: */
	font-family: Montserrat-Bold;
	font-size: 18px;
	color: #F5F5F5;
	text-transform: uppercase;
	padding: 14px 20px;
	margin-right: 15px;
	margin-top: 30px;
}

.button-shape a:last-child {
	background: #9B9B9B;
}
/*  Profile Page END  */

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.container {width: 1320px;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.container {width: 1320px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#login, #new-password {
		padding: 0;
	}

	.logo-sign-in {
		text-align: center;
	}

	.login-img {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 60px;
		float: none;
	}

	.inner-wrapper {
		width: 80%;
		margin: 0 auto;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	.login-img, .new-password-img {
		max-width: 65%;
		padding-bottom: 30px;
	}

	.inner-wrapper {
		width: 90%;
	}

	#login a {
	font-size: 14px;
	text-align: center !important;
	}

}