html, body {
	background-color: #F2F2F2;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.7;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

ol, ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table.table-hover tbody tr:hover td {
  background: rgba(140,126,119,0.40) !important;
  color: #fff;
  font-weight: bold;
}

.table.table-hover tbody tr:hover td a {
	/*color: #FCAF3C;*/
}

.table.table-hover tbody tr:hover td a:last-child {
	background: #FCAF3C;
	padding: 10px 15px 10px 18px;
	border-radius: 2px;
	color: #fff;
	font-weight: lighter;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.form-group-default.input-group .input-group-addon {
  height: calc(50px);
  min-width: calc(50px);
  border-radius: 0;
  border: none;
}

/*  Login Page START  */

#login {
	padding-top: 280px;
}

#new-password {
	padding-top: 230px;
}

.login-img {
	padding-top: 40px;
	padding-right: 40px;
	float: right;
}

.mute-grey {
	color: #8C7E77;
	opacity: 0.5;
}

#login a, #new-password a {
	font-size: 16px;
}

#login a:hover, #new-password a:hover {
	text-decoration: none;
}

label {
	display: block;
	font-size: 11px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

#login .btn, #new-password .btn, #participant-form .btn, #form-summary .btn, .quick-search-btn {
	/* button_box: */
	background: #FCAF3C;
	border-radius: 2px;
	border: none;
	/* SIGN IN: */
	font-family: Montserrat-Bold;
	font-size: 18px;
	text-transform: uppercase;
	padding: 14px 20px 16px 20px;
	color: #F5F5F5;
	letter-spacing: 0.7px;
	line-height: 21px;
	width: 100%;
	margin-bottom: 16px;
	-webkit-transition: all 7s !important;
  -moz-transition: all 0.7s !important;
  transition: all 0.7s !important;
}

#login .btn:hover, #new-password .btn:hover, #participant-form .btn:hover, #form-summary .btn:hover, .quick-search-btn:hover {
	background: #F4B350;
	border-radius: 50px;
	color: #FFF;
}

.button-shape {
		-webkit-transition: all 7s !important;
	  -moz-transition: all 0.7s !important;
	  transition: all 0.7s !important;
}

.footer {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: #8C7E77
}

/*  Login Page END  */

/*  User Edit */

#edit-user, #create-user {
	padding-top: 60px;
}

/*  User Edit END  */

/*  New Password START  */

#new-password img {
	padding-bottom: 30px;
}

/*  New Password END  */

/*  Welcome Dashboard START  */
nav {
	height: 70px;
	background-color: #8C7E77;
	color: #F5F5F5
}

.dashboard-logo {
	padding-top: 10px;
	padding-left: 30px;
}

nav li {
	padding-top: 12px;
}

.nav-user-details {
	font-size: 17px;
	padding-top: 24px;
	padding-right: 30px;
}

.logout-link {
	padding-left: 30px;
}

.logout-link a {
	color: #F5F5F5;
	opacity: 0.8;
}

#dashboard {
	padding-top: 200px;
}

#dashboard a {
	position: relative;
	display: inline-block;
	outline: none;
	color: inherit;
	text-decoration: none;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

#dashboard a:hover,
#dashboard a:focus {
	outline: none;
}

/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #F4B350;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.panel, #profile-overview img {
	width: 90%;
}

.panel-coming-soon {
	background-color: #CDCDCD;
	opacity: 0.3
}

.panel-coming-soon {
	color: #222222;
}

figure {
	padding-top: 50px;
	padding-bottom: 50px;
}

figure h2 {
	margin-top: 30px;
}

figure figcaption {
	color: #4A4A4A;
} 

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.button a {
  color: #fff;
}

.lone-btn {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
}

.button {
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

/* Ujarak */
.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F4B350;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: #fff;
	border-color: #37474f;
}

.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/*  Welcome Dashboard END  */

/*  New Entry  */
.nav-page-header {
	height: 230px;
}

nav img {
	padding-top: 10px;
}

.active-page {
	border-bottom: 3px solid #FFB73F;
}

.nav-pills>li>a {
	color: #F5F5F5;
}

.nav-pills>li>a:hover {
color: #F5F5F5;
background-color: #626262; 
}

.nav-headline {
	font-size: 64px;
	color: #F2F2F2;
	text-transform: uppercase;
	padding-top: 60px;
}

#participant-form {
	padding-top: 60px;
}

#form-summary {
	padding-top: 15px;
}

#participant-form h3, #profile-overview h3, #form-summary h3 {
	color: #FFB73F;
	font-size: 18px;
	text-transform: uppercase;
}

.string-styling {
	text-transform: capitalize;
}

.panel-form {
	width: 100%;
}

.form-wrapper {
	padding: 0 20px 15px 20px;
}

.form-wrapper h3 {
	padding-top: 0 !important;
}

.page-footer {
	padding-top: 80px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background: inherit;
	color: #A0A0A0;
}

.form-group-default-disabled {
	/*border: 0 !important;*/
	background: #F2F2F2;
}

/*  New Entry END  */

/*  Profile Page  */
#profile-overview {
	padding-top: 70px;
}

#profile-overview img {
	padding-top: 15px;
}

#profile-overview h4 {
	margin-top: -10px;
	padding-bottom: 10px;
}

#profile-overview .panel {
	min-height: 117px;
}

.button-shape a {
	/* button_box: */
	background: #FCAF3C;
	border-radius: 2px;
	/* EDIT: */
	font-family: Montserrat-Bold;
	font-size: 18px;
	color: #F5F5F5;
	text-transform: uppercase;
	padding: 14px 20px;
	margin-right: 15px;
	margin-top: 30px;
	-webkit-transition: all 7s !important;
  -moz-transition: all 0.7s !important;
  transition: all 0.7s !important;
}

.button-shape a:hover {
	border-radius: 50px;
}

.button-shape a:last-child {
	background: #9B9B9B;
	-webkit-transition: all 7s !important;
  -moz-transition: all 0.7s !important;
  transition: all 0.7s !important;
}

.button-shape a:last-child:hover {
	border-radius: 50px;
}
/*  Profile Page END  */

/*  Search Page Start  */

#search {
	padding-top: 80px;
}

#search input {
	border: 0;
	width: 100%;
}

#search-results {
	/*display: none;*/
}

nav.pagination {
	height: 20px;
	background: #fff;
	padding: 10px 2px 30px 15px;
	color: #222;
	vertical-align: middle;
}

nav.pagination span {
	padding-right: 10px;
}

.page.current {
	font-weight: bold;
	color: #48b0f7;
}

/*  Search Page END  */

/*  Library  */
#library {
	padding-top: 80px;
}
/*  Library END  */


/* Large desktops and laptops */
@media (min-width: 1200px) {
	.container {width: 1320px;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.container {width: 1320px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#login, #new-password {
		padding: 0;
	}

	.logo-sign-in {
		text-align: center;
	}

	.login-img {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 60px;
		float: none;
	}

	.inner-wrapper {
		width: 80%;
		margin: 0 auto;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	.login-img, .new-password-img {
		max-width: 65%;
		padding-bottom: 30px;
	}

	.inner-wrapper {
		width: 90%;
	}

	#login a {
	font-size: 14px;
	text-align: center !important;
	}

}